@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.loginPage {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  border: 3px solid black;
  margin-top: 4rem;
  z-index: 0;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.warning {
    border: solid red 1px;
    border-radius: 0.2em;
}
  
.danger {
    font-size: 10px;
    color: red;
    margin-left: 10em;
}

.formLogo {
  position:absolute;
  top:-135px;
  left:-70px;
  width: 150%;
  z-index: 1;
}

.nebula {
  /* position:fixed;
  top:-400px;
  left:0px;
  width: auto; */
  /* z-index: 1; */
  left: -37px;
  position: fixed;
  top: -400px;
  width: 100rem;
}

