.containerNav {
    display: flex;
    justify-content: space-between;

}

.linksNav {
    display: flex;
    width: 75%;
    border-radius: 2px;
    padding: 1rem;
    background-color: #e89ac7;
    border: 3px solid black;
    margin-left: 5px;
    margin-bottom: auto;
    border-radius: 15px;
    /* background-color: #e89ac7;
    border: 3px solid black; */
}

.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    border: 2px solid black;
    border-radius: 12px;
    background: slateblue;
    padding: 2px;
}

a {
    text-decoration: none;
    color: white
}

.link:hover {
    background: rgb(134, 132, 132);
}
